.projects-section {
  min-height: 100vh;
  padding: 100px 0;
  position: relative;
}

.projects-title {
  font-size: 4rem;
  text-align: center;
  color: var(--primary-red);
  margin-bottom: 80px;
  padding: 0 40px;
  position: relative;
  z-index: 10;
}

.projects-wrapper {
  position: relative;
  top: -270px;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 100px;
  overflow: visible;
}

.projects-stack {
  position: relative;
  width: 300px;
  height: 400px;
}

.project-card {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  will-change: transform, opacity;
}

@media (max-width: 768px) {
  .projects-section {
    min-height: 100vh;
  }

  .projects-title {
    font-size: 2.5rem;
    margin-bottom: 60px;
  }

  .projects-wrapper {
    top: -220px;
  }

  .projects-wrapper {
    padding-left: 40px;
  }

  .projects-stack {
    width: 280px;
    height: 380px;
  }
}